

.header{
    margin:50px 0 0 0;
    background-color:#79C6AC;
    height:20vh;
    justify-content: center;
    align-items: center;
}

.header h1{
    color:white;
}

.vehicleContainer{
    position: relative;
}

.vehicleContainer li{
    padding:15px 20px;
    flex-direction: row;
    align-items: center;
    border-bottom:1px solid #0000002d;
}

.image{
    border-radius: 10px;
    overflow: hidden;
    height:50px;
    width:50px;
}

.image img{
    height:50px;
    width:50px;
}

.vehicleInfo{
    padding:0 0 0 15px;
}

.vehicleInfo p{
    font-size: small;
}

.control{
    position: absolute;
    right:15px;
    flex-direction: row;
}

.control i{
    margin:0 0 0 15px;
}

.addVehicle{
    border-bottom:1px solid #0000002d;
    padding:15px 0;
    justify-content: center;
    align-items: center;
}

.addVehicle i{
    color:#79C6AC;;
}

.additionalInfoContainer{
    display:none;
    height:100vh;
    width:100vw;
    position: absolute;
    background:white;
    padding:70px 0 150px 0;
    align-items: center;
}

.vehicleInfoContainer{
    display:none;
    width:100vw;
    position: absolute;
    background:white;
    padding:70px 0 150px 0;
    align-items: center;
}


.vehicleInfoForm{
    width:80vmin;
    padding:15px 20px;
}


.addNewVehicle{
    display:none;
    height:80vh;
    width:100vw;
    position: absolute;
    background:white;
    padding:150px 0 0 0;
    align-items: center;
}

.addNewVehicleForm{
    width:80vmin;
    padding:15px 20px;
}

label{
    margin:15px 0 5px 0;
}

input{
    border:2px solid #79C6AC;
    padding:10px 15px;
    border-radius: 10px;
}

button{
    background: #79C6AC;
    color:white;
    border:none;
    margin-top:30px;
    padding:15px 20px;
    align-items: center;
    border-radius: 10px;
}

.cancelBtn{
    margin-top:10px;
}

.editVehicle{
    display:none;
    width:100vw;
    position: absolute;
    background:white;
    padding:150px 0 50px 0;
    align-items: center;
}

.editVehicleForm{
    width:80vmin;
    padding:15px 20px;
}

label{
    margin:15px 0 5px 0;
}

textarea{
    border:2px solid #79C6AC;
    padding:10px 15px;
    border-radius: 10px;
}

.imageContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}

.thumbNail{
    width:50px;
    height:50px;
    margin:15px;
}

.imageContainer{
    margin:10px 0 0 0;
    border:2px solid #79C6AC;
    border-radius: 10px;
    padding:35px 15px;
}

.imageUpload{
    margin:20px 0 30px 0;
}