.dealershipContainer{
    margin:60px 0;
}

.dealershipList{
}

.dealershipListItem{
    border-bottom:1px solid #8b91964b;
    padding:15px;
    flex-direction: row;
}

.dealerImage{
    background:#79C6AC;
    border-radius: 10px;
    overflow: hidden;
    width:100px;
    height:100px;
}

.dealerInfo{
    margin:0 0 0 10px;
    justify-content: center;
}

.dealerName{
    color:#79C6AC;
}

.dealerInfo h3{
    color:#79C6AC;
}

.dealerInfo p{
    color:#8b9196;
}

.dealerInfo .phoneNumber,.dealerInfo .hours,.dealerInfo .listing{
    font-size: small;
}