.messages{
    margin:50px 0 0 0;
    padding:10px 0 150px 0;
}

#ListMessageDiv h1{
    padding:25px 25px 0 25px;
}

.messageDiv{
    padding:25px 25px 10px 25px;
    border-bottom:2px solid #49494938;
}

.messageDiv #readBtn{
    margin:15px 15px 15px 15px;;
    align-items: center;
    padding:15px;
    border-radius: 10px;
    border:#79C6AC;
    background:#79C6AC;
    color:white;
}

.messageDiv .from{
    flex-direction: row;
}

.messageDiv .time{
    flex-direction: row;
    font-size: small;
}

.messageDiv .message{
    margin:10px 0;
    flex-direction: column;
}

.compose{
    width:60px;
    height:60px;
    background:#79C6AC;
    border:4px solid white;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    position: fixed;
    bottom:15px;
    right:15px;
}

.compose i{
    color:white;
}

.newMessage{
    position: absolute;
    background:#79C6AC;
    height:100vh;
    width:100vw;
    justify-content: center;
    /* align-items: center; */
}

.newMessage .wrapper{
    padding:0 50px;
}

.newMessage .wrapper p{
    color:white;
}

.newMessage .wrapper select,.newMessage .wrapper input,.newMessage .wrapper textarea{
    border-radius: 10px;
    padding:10px 5px;
    margin:5px 0 10px 0;
    border:white;
    background:white;
}

.newMessage .wrapper textarea{
    height:150px;
}

#SendButton{
    margin-top:10px;
    align-items: center;
    padding:25px;
    background:#17242D;
    color:white;
}

#CancelButton{
    margin:0px;
    align-items: center;
    padding:25px;
    background:#17242D;
    color:white;
}