<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	<link rel="stylesheet" href="/assets/css/about.css">
	<link rel="stylesheet" href="/assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>About us</h1>
	</div>

	<div class="vision">
		<h2>Vision</h2>
		<img src="assets/images/car/vision.jpg" alt="">
		<p>We are building a social marketplace and system where the process is transparent, our customers are working with people they trust and continue to innovate the consumer rewards space.
		</br></br>
			We foster transparency, positive customer experience and opportunity</p>
	</div>	

	<div class="values">
		<h2>Values</h2>
		<ul>
			<li>
				<img src="assets/images/car/trust398.jpg" alt="">
				<h4>Integrity and Trust</h4>
				<p>As our most important value, we never compromise on integrity and trust. We collaborate with our customers to achieve their goals and ambitions. We respect and work together with local communities. And at the heart of it all, we always take care of the people that make up Tulu and the values Tulu stands for.</p>
			</li>
			<li>
				<img src="assets/images/car/suv-inov398.jpg" alt="">
				<h4>Innovate for a better future</h4>
				<p>Our future is full of opportunities. Just as the consumer landscape and technology space is changing, we too adapt and innovate, to enrich the quality of life of future generations.</p>
			</li>
			<li>
				<img src="assets/images/car/quality.jpg" alt="">
				<h4>Commit to the highest quality standards</h4>
				<p>Quality always comes first. No exceptions. We will commit to this promise with confidence and conviction.</p>
			</li>
		</ul>
	</div>

	<!-- FOOTER -->
	<footer id="Footer"></footer>
</body>

<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>

<script src="/assets/js/sideMenu.js"></script>

</html>