<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	<link rel="stylesheet" href="/assets/css/appointment.css">
	<link rel="stylesheet" href="/assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<div class="appointmentContainer">
		<h2>September</h2>
		<h3>Sept 1-7 2020</h3>

		<label for="">Monday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">8:30am</option>
			<option value="">11:00am</option>
			<option value="">2:00pm</option>
			<option value="">3:30pm</option>
			<option value="">4:00pm</option>
		</select>

		<label for="">Tuesday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">8:00am</option>
			<option value="">10:00am</option>
			<option value="">10:30am</option>
			<option value="">12:00pm</option>
			<option value="">2:00pm</option>
			<option value="">2:30pm</option>
			<option value="">3:30pm</option>
		</select>

		<label for="">Wednesday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">8:30am</option>
			<option value="">10:00am</option>
			<option value="">10:30am</option>
			<option value="">2:30pm</option>
			<option value="">3:00pm</option>
		</select>

		<label for="">Thursday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">11:00am</option>
			<option value="">12:00pm</option>
			<option value="">12:30pm</option>
			<option value="">1:00pm</option>
			<option value="">3:30pm</option>
			<option value="">4:00pm</option>
		</select>

		<label for="">Friday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">8:00am</option>
			<option value="">8:30am</option>
			<option value="">9:00am</option>
			<option value="">12:30pm</option>
			<option value="">1:00pm</option>
			<option value="">2:00pm</option>
			<option value="">2:30pm</option>
		</select>

		<label for="">Saturday</label>
		<select name="" id="">
			<option value="">--:--</option>
			<option value="">8:00am</option>
			<option value="">10:30am</option>
			<option value="">11:00am</option>
			<option value="">12:00pm</option>
			<option value="">3:00pm</option>
			<option value="">3:30pm</option>
			<option value="">4:00pm</option>
		</select>
		<button>
			SUBMIT
		</button>
	</div>

	<!-- FOOTER -->
	<footer id="Footer"></footer>
</body>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>

<script src="/assets/js/sideMenu.js"></script>

</html>