<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/calendar.css">
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>
<body>


<div id="calendar"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    

</body>
<script src="assets/js/calendar.js"></script>


</html>