<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/dashboardNav.css">
	<link rel="stylesheet" href="/assets/css/dashboardVehicle.css">

    <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>Vehicles</h1>
	</div>
	<div class="vehicles">
		<ul class="vehicleContainer" id="vehicleContainer">
			<li>
				<div class="image">

				</div>
				<div class="vehicleInfo">
					<p>Car Title</p>
					<p>$12,345</p>
					<p>0 views</p>
				</div>
				<div class="control">
					<i class="far fa-edit" onclick="showEditVehicle()"></i>
					<i class="far fa-trash-alt" onclick="deleteVehicle()"></i>
				</div>
			</li>
		</ul>
		<div class="addVehicle">
			<i class="fas fa-plus" onclick="showAddNewVehicle()"></i>
		</div>
	</div>
	<div class="addNewVehicle">
		<div class="addNewVehicleForm">
			<label for="name">Name:</label>
			<input type="text" name="name">
			<label for="email">Email:</label>
			<input type="text" name="email">
			<label for="password">Password:</label>
			<input type="text" name="password">
			<button class="addUserBtn"  onclick="saveVehicle()">ADD USER</button>
			<button class="cancelBtn" onclick="hideAddNewVehicle()">CANCEL</button>
		</div>
	</div>

	<div class="editVehicle">
		<div class="editVehicleForm">
			<label for="price">Price:</label>
			<input type="text" name="price" id="price">
			<label for="mileage">Mileage:</label>
			<input type="text" name="mileage" id="mileage">
			<label for="engine">Engine:</label>
			<input type="text" name="engine" id="engine">
			<label for="color">Color:</label>
			<input type="text" name="color" id="color">
			
			<button onclick="saveEdit()">SAVE EDIT</button>
			<button class="cancelBtn" onclick="hideEditVehicle()">CANCEL</button>
		</div>
	</div>


</body>
<script src="/assets/js/global.js"></script>
<script src="/javascripts/client/components/dashboardNav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>
<script src="/assets/js/sideMenu.js"></script>
<script src="/assets/js/dashboardVehicleView.js"></script>

</html>