<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/dashboardNav.css">
	<link rel="stylesheet" href="/assets/css/dashboardTulu.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>Tulu Dashboard</h1>
	</div>

	<div class="wrapper">
		<div class="myVehicleContainer">
			<h3>My Vehicles</h3>
			<ul class="myVehicleList">
				<li>
					No posted vehicles
				</li>
			</ul>
			<button class="seeAllBtn">See all</button>
		</div>
		<div class="favoritesContainer">
			<h3>Favorites</h3>
			<ul class="favoritesList">
				<li>
					No posted favorites
				</li>
			</ul>
			<button class="seeAllBtn">See all</button>
		</div>
		<div class="recentlyViewedContainer">
			<h3>Recently Viewed</h3>
			<ul class="recentlyViewedList">
				<li>
					No recently viewed vehicles
				</li>
			</ul>
			<button class="seeAllBtn">See all</button>
		</div>
	</div>
</body>
<script src="/assets/js/global.js"></script>
<script src="/javascripts/client/components/dashboardTuluNav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>
<script src="/assets/js/sideMenu.js"></script>
<script src="/assets/js/dashboardTuluView.js"></script>

</html>