<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/dashboardNav.css">
	<link rel="stylesheet" href="/assets/css/dashboardUser.css">

    <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>Users</h1>
	</div>
	<div class="users">
		<ul class="userContainer" id="userContainer">
			<li>
				<div class="image">

				</div>
				<div class="userInfo">
					<p>name:John Doe</p>
					<p>email:sample@example.com</p>
					<p>password:***********</p>
				</div>
				<div class="control">
					<i class="far fa-edit" onclick="showEditUser()"></i>
					<i class="far fa-trash-alt" onclick="deleteUser()"></i>
				</div>
			</li>
		</ul>
		<div class="addUser">
			<i class="fas fa-plus" onclick="showAddNewUser()"></i>
		</div>
	</div>
	<div class="addNewUser">
		<div class="addNewUserForm">
			<label for="name">Name:</label>
			<input type="text" name="name">
			<label for="email">Email:</label>
			<input type="text" name="email">
			<label for="password">Password:</label>
			<input type="text" name="password">
			<button class="addUserBtn"  onclick="saveUser()">ADD USER</button>
			<button class="cancelBtn" onclick="hideAddNewUser()">CANCEL</button>
		</div>
	</div>

	<div class="editUser">
		<div class="editUserForm">
			<label for="name">Name:</label>
			<input type="text" name="name" id="editName">
			<label for="email">Email:</label>
			<input type="text" name="email" id="editEmail">
			<label for="password">Password:</label>
			<input type="text" name="password" id="editPassword">
			<button onclick="saveEdit()">SAVE EDIT</button>
			<button class="cancelBtn" onclick="hideEditUser()">CANCEL</button>
		</div>
	</div>


</body>
<script src="/assets/js/global.js"></script>
<script src="/javascripts/client/components/dashboardNav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>
<script src="/assets/js/sideMenu.js"></script>
<script src="/assets/js/global.js"></script>
<script src="/assets/js/dashboardUserView.js"></script>

</html>