<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/dashboardNav.css">
	<link rel="stylesheet" href="/assets/css/dashboardUser.css">

    <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>Users</h1>
	</div>
	<div class="users">
		<ul class="userContainer" id="userContainer">
			<li>
				
			</li>
		</ul>
		<div class="addUser">
			<i class="fas fa-plus" onclick="showAddUserOption()"></i>
		</div>
	</div>

	<div class="userOptionContainer">
		<div class="addUserOption">
			<button onclick="showAddNewUser()">ADD NEW USER</button>
			<button onclick="showSearchUser()">ADD EXISTING USER</button>
		</div>
	</div>

	<div class="addNewUser">
		<div class="addNewUserForm">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name">
			<label for="email">Email:</label>
			<input type="text" name="email" id="email">
			<button class="addUserBtn"  onclick="saveUser()">ADD USER</button>
			<button class="cancelBtn" onclick="hideAddNewUser()">CANCEL</button>
		</div>
	</div>

	<div class="searchUser">
		<div class="addNewUserForm">
			<label for="name">Email or Name</label>
			<input type="text" name="name" id="searchInput">
			<button class="addUserBtn"  onclick="searchUser()">SEARCH</button>
			<button class="cancelBtn" onclick="hideSearchUser()">CANCEL</button>
		</div>
	</div>

	<div class="editUser">
		<div class="editUserForm">
			<label for="name">Name:</label>
			<input type="text" name="name" id="editName">
			<label for="email">Email:</label>
			<input type="text" name="email" id="editEmail">
			<button onclick="saveEdit()">SAVE EDIT</button>
			<button class="cancelBtn" onclick="hideEditUser()">CANCEL</button>
		</div>
	</div>


</body>
<script src="/assets/js/global.js"></script>
<script src="/javascripts/client/components/dashboardNav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>
<script src="/assets/js/sideMenu.js"></script>
<script src="/assets/js/dashboardUserView.js"></script>

</html>