<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	<link rel="stylesheet" href="/assets/css/dealership.css">
	<link rel="stylesheet" href="/assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>

<body id="HomePage">
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<div class="dealerContainer">
		<header></header>
		<div class="dealershipBox">
			<div class="dealerInfo">
				<div class="dealerImage">
					<div class="dealerImageBorder">
						<img src="" alt="">
					</div>
				</div>
				<h3>Dealership Name</h3>
				<h4>Dealership Address</h4>
				<p class="phoneNumber">403-123-4567</p>
				<p class="hours">Open - Close 8:pm</p>
			</div>
			<ul id="dealerListingList" class="dealerListingList">
				
			</ul>
		</div>
	</div>

	<!-- FOOTER -->
	<footer id="Footer"></footer>
</body>

<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/dealership.js"></script>
<script src="/javascripts/client/components/footer.js"></script>

<script src="/assets/js/sideMenu.js"></script>

</html>