<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
	<!-- NAVIGATION -->
	<nav>
		<a href="home.html">
			<img src="/assets/images/PNG Files/tulu-logo_white.png" alt="">
		</a>
		<div class="menuButton" onclick="slideMenu()">
			<i class="fas fa-bars fa-2x menuBtn"></i>
			<i class="fas fa-times fa-2x closeMenuBtn"></i>
		</div>
	</nav>
	<!-- SIDEMENU -->
	<div class="sideMenu">
		<ul class="menu">
			<li class="menuItems">
				<a href="">About Us</a>
			</li>
			<li class="menuItems">
				<p class="menuDropDownTitle" onclick="shopSubMenu()">
					Shop
					<i class="fas fa-sort-down shopDropMenuBtn"></i>
				</p>
				<ul class="shopSubMenuList">
					<li class="subMenuListLink">
						<a href="shop.html">All</a>
					</li>
					<li class="subMenuListLink">
						<a href="">New</a>
					</li>
					<li class="subMenuListLink">
						<a href="">Used</a>
					</li>
				</ul>
			</li>
			<li class="menuItems">
				<p class="menuDropDownTitle" onclick="accountSubMenu()">
					My Account
					<i class="fas fa-sort-down accountDropMenuBtn"></i>
				</p>
				<ul class="accountSubMenuList">
					<li class="subMenuListLink">
						<a href="login.html">Sign In</a>
					</li>
					<li class="subMenuListLink">
						<a href="register.html">Register</a>
					</li>
				</ul>
			</li>
			<li class="menuItems">
				<a href="">Influencers</a>
			</li>
			<li class="menuItems">
				<a href="">Dealerships</a>
			</li>
			<li class="menuItems">
				<a href="">
					<button class="influencerBtn">
						Become an Influencer
					</button>
				</a>
			</li>
		</ul>
	</div>

	<!-- HEADER -->
	<div class="header">
		<h1>Tulu Canada</h1>
	</div>

	<!-- First Section -->
	<section class="firstSection">
		<div class="getApproved">
			<h2>Get Approved Now!</h2>
		</div>
		<div class="appraisal">
			<h2>What's Your Cars Worth?</h2>
		</div>
	</section>

	<!-- Second Section -->
	<section class="secondSection">
		<ul class="partnerList">
			<li class="partnerListItems">
				<h2>Partner #1</h2>
			</li>
			<li class="partnerListItems">
				<h2>Partner #2</h2>
			</li>
			<li class="partnerListItems">
				<h2>Partner #3</h2>
			</li>
		</ul>
	</section>

	<!-- Third Section -->
	<section class="thirdSection">
		<h2 class="influencerHeading">TOP INFLUENCERS</h2>
		<ul class="influencerList">
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
		</ul>
	</section>

	<!-- Fourth Section -->
	<section class="fourthSection">
		<div class="popularCars">
			<h2>Popular Cars</h2>
		</div>
	</section>


	<!-- FOOTER -->
	<footer>
		<ul class="footerList">
			<li class="footerListItem">
				<a href="">
					<h4>About Us</h4>
				</a>
			</li>
			<li class="footerListItem">
				<a href="">
					<h4>Partners</h4>
				</a>
				<ul class="footerSubLinkList">
					<li class="SubLinkListItem">
						<a href="">Dealerships</a>
					</li>
				</ul>
			</li>
			<li class="footerListItem">
				<a href="">
					<h4>Customer Support</h4>
				</a>
				<ul class="footerSubLinkList">
					<li class="SubLinkListItem">
						<a href="">FAQ</a>
					</li>
					<li class="SubLinkListItem">
						<a href="">Feedback and Comments</a>
					</li>
					<li class="SubLinkListItem">
						<a href="">Contact Us</a>
					</li>
				</ul>
			</li>
		</ul>
	</footer>
</body>
<script src="/assets/js/sideMenu.js"></script>

</html>