<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/influencer.css">
    <link rel="stylesheet" href="assets/css/myAccountMenu.css">
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

    <!-- Header -->
    <div class="header" id="Header"></div>

    <!-- My Account -->
    <div class="myAccountMenu"id="MyAccountMenu"></div>


</body>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/influencer.js"></script>

<script src="assets/js/sideMenu.js"></script>
<script src="assets/js/listingSetting.js"></script>
<script src="assets/js/addListingMenu.js"></script>
</html>