<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>>
</head>
<body>
    <!-- NAVIGATION -->
    <nav id="Nav"></nav>
    <!-- SIDEMENU -->
    <div id ="SideMenu"class="sideMenu"></div>

    <!-- LOG IN -->
    <div id="LoginContainer" class="loginContainer">
        
    </div>
</body>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/login.js"></script>

<script src="assets/js/sideMenu.js"></script>
</html>