<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/messages.css">
    <link rel="stylesheet" href="assets/css/myAccountMenu.css">
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

    <div id="Messages" class="messages">
        <div id="ListMessageDiv"> 
			<h1>Inbox</h1>

		</div>
    </div>

    <div class="compose" onclick="NewMessage();">
        <i class="fas fa-pen"></i>
    </div>

    <div class="newMessage">
        <div class="wrapper">
            <p>To:</p>
            <select id="TargetSelect"></select>
            <p>Vehicle:</p>
            <select id="VinSelect"></select>
            <p>Type:</p>
            <input type="text" id="MessageType" />
            <p>Message:</p>
            <textarea id="MessageValue"></textarea>
            <input type="button" class="myBtn" id="SendButton" value="Send Message" onclick="SendMessage();" />
            <input type="button" class="myBtn" id="CancelButton" value="Cancel" onclick="cancelMessage();" />
        </div>
    </div>

</body>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/profile.js"></script>

<script src="assets/js/sideMenu.js"></script>
<script src="assets/js/listingSetting.js"></script>
<script src="assets/js/addListingMenu.js"></script>

<script src="/assets/js/global.js"></script>
<script src="/assets/js/messagesview.js"></script>
</html>