<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/messages.css">
    <link rel="stylesheet" href="assets/css/myAccountMenu.css">
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

    <div id="Messages" class="messages">
        <div class="userOne">
            <a href="/vendor">
                <div class="userImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
            </a>
            <p>User One</p>
        </div>
        <div class="messageContainer">
            <div class="messageCard">
                <div class="userOneImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div class="messageCloud">
                    <p>hey</p>
                </div>
            </div>
            <div class="messageCard">
                <div class="userOneImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div class="messageCloud">
                    <p>What do you call a frozen dog?</p>
                </div>
            </div>

            <div class="messageCard">
                <div class="userOneImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div class="messageCloud">
                    <p>Hello sir! How can I help you?</p>
                </div>
            </div>

            <div class="messageCard">
                <div class="userOneImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div class="messageCloud">
                    <p>a pupsicle</p>
                </div>
            </div>

            <div class="messengerUserLeft">
                User One has left the chat.
            </div>
        </div>
    </div>

    <!-- My Account -->
    <div class="myAccountMenu"id="MyAccountMenu"></div>



</body>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/profile.js"></script>

<script src="assets/js/sideMenu.js"></script>
<script src="assets/js/listingSetting.js"></script>
<script src="assets/js/addListingMenu.js"></script>
</html>