<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/filter.css">
    <link rel="stylesheet" href="assets/css/shop.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>>
</head>
<body>

    <!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

    <!-- FILTER -->
    <div id="Filter" class="filter"></div>
    <aside id="FilterSettings"class="filterSettings"></aside>

    <!-- VEHICLE LIST -->
    <section class="vehicles">
        <ul id="Vehicles" class="vehicleList">

        </ul>
    </section>
   
    <!-- FOOTER -->
    <footer id="Footer"></footer>
</body>

<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/filter.js"></script>
<script src="/javascripts/client/components/Vehicles.js"></script>
<script src="/javascripts/client/components/footer.js"></script>

<script src="assets/js/sideMenu.js"></script>
<script src="assets/js/filterMenu.js"></script>
<script src="assets/js/vehicleDisplay.js"></script>
<script src="assets/js/moreInfo.js"></script>
</html>