<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="assets/webfonts/styles/all.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/tuluLogin.css">
    <link rel="stylesheet" href="assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>>
</head>
<body>
    <!-- NAVIGATION -->
    <nav id="Nav"></nav>
    <!-- SIDEMENU -->
    <div id ="SideMenu"class="sideMenu"></div>

    <!-- LOG IN -->
    <div id="LoginContainer" class="loginContainer">
        <form action="" class="loginForm">
            <label for="email">Email:</label>
            <div class="inputContainer">
                <input type="text" id="email" class="email" name="email"><br>
            </div>
            
                <label for="password">Password:</label>
            <div class="inputContainer">
                <input type="password" id="password" class="password" name="password">
            </div>  
            <a onclick="Login();">
                <button type="button" class="loginBtn">LOG IN</button>
            </a>
            <a onclick="LocationChange(`tuluRegister`);">
                <!-- <a href=""> -->
                <button type="button" class="registerBtn">REGISTER</button>
            </a>
        </form>
    </div>
</body>
<script src="/assets/js/global.js"></script>
<script src="/assets/js/tuluLoginView.js"></script>
<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/tuluLogin.js"></script>

<script src="assets/js/sideMenu.js"></script>
</html>