<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tulu Canada</title>
	<link rel="stylesheet" href="/assets/webfonts/styles/all.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/footer.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
</head>

<body>
	<!-- NAVIGATION -->
	<nav id="Nav"></nav>
	<!-- SIDEMENU -->
	<div id ="SideMenu"class="sideMenu"></div>

	<!-- HEADER -->
	<div class="header">
		<h1>Tulu Canada</h1>
	</div>

	<!-- First Section -->
	<section class="firstSection">
		<div class="getApproved">
			<h2>Get Approved Now!</h2>
		</div>
		<div class="appraisal">
			<h2>What's Your Cars Worth?</h2>
		</div>
	</section>

	<!-- Second Section -->
	<section class="secondSection">
		<ul class="partnerList">
			<li class="partnerListItems">
				<h2>Partner #1</h2>
			</li>
			<li class="partnerListItems">
				<h2>Partner #2</h2>
			</li>
			<li class="partnerListItems">
				<h2>Partner #3</h2>
			</li>
		</ul>
	</section>

	<!-- Third Section -->
	<section class="thirdSection">
		<h2 class="influencerHeading">TOP INFLUENCERS</h2>
		<ul class="influencerList">
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
			<li class="influencerListItems">
				<div class="influencerImage"></div>
				<h3 class="influencerName">Lorem</h3>
				<p class="influencerDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, illum.
				</p>
			</li>
		</ul>
	</section>

	<!-- Fourth Section -->
	<section class="fourthSection">
		<div class="popularCars">
			<h2>Popular Cars</h2>
		</div>
	</section>


	<!-- FOOTER -->
	<footer id="Footer"></footer>
</body>

<script src="/javascripts/client/components/nav.js"></script>
<script src="/javascripts/client/components/footer.js"></script>

<script src="/assets/js/sideMenu.js"></script>

</html>